<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="all-container">
        <div class="card-body">
            <form action="/register" method="POST">
                <% if (locals.err) { %>
                    <label for="email">Your registration has been terminated</label>
                    <label for="email"> <%= err %> </label>
                <% } %>
                <label for="email">Email</label>
                <input type="email" class="form-control" name="username">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
                <button type="submit" class="form-submit">Register</button>
            </form>
            <a href="/"><button class="go-back-button">Go back</button></a>
        </div>
    </div>
</body>
</html>